# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www
android/.idea/compiler.xml
android/.idea/jarRepositories.xml
android/.idea/misc.xml
android/app/src/main/assets/capacitor.config.json
android/app/src/main/res/xml/config.xml
android/gradle/wrapper/gradle-wrapper.properties
capacitor.config.json
electron/capacitor.config.json
package-lock.json
package.json
src/app/app.module.ts
src/app/file.service.ts
src/app/sound/sound-add/sound-add.page.ts
src/app/sound/sound.service.ts
src/app/string-format.service.ts
android/app/src/main/assets/capacitor.config.json
android/app/src/main/res/xml/config.xml
android/gradle/wrapper/gradle-wrapper.properties
capacitor.config.json
electron/capacitor.config.json
package-lock.json
package.json
src/app/app.module.ts
src/app/sound/sound-add/sound-add.page.ts
src/app/sound/sound.service.ts
src/app/string-format.service.ts
*.ts
android/app/src/main/assets/capacitor.config.json
android/app/src/main/res/xml/config.xml
android/gradle/wrapper/gradle-wrapper.properties
capacitor.config.json
electron/capacitor.config.json
package-lock.json
package.json
src/app/app.module.ts
src/app/sound/sound-add/sound-add.page.ts
src/app/sound/sound.service.ts
src/app/string-format.service.ts
