<ion-grid>
  <ion-row *ngFor="let sound of sounds; let i = index">
    <ion-col size-md="8" offset-md="2" id="item{{i}}">
      <ion-item-sliding #itemSliding>
        <ion-item-options side="start">
          <ion-item-option color="danger" (click)="deleteSound(sound.id, i, itemSliding)">
            <ion-icon name="trash-sharp" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <ion-item-options side="end">
          <ion-item-option (click)="shareSound(sound.path, itemSliding)">
            <ion-icon name="share-social-sharp" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <ion-item>
          <ng-container *ngIf="soundIsNotFinished(sound.id)">
            <ion-button (click)="stopSound(sound.id)" slot="end" fill="clear" class="ion-no-margin">
              <ion-icon name="stop-circle-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ng-container>

          <ng-container *ngIf="!soundIsPlaying(sound.id)">
            <ion-button (click)="playSound(sound)" slot="end" fill="clear" class="ion-no-margin">
              <ion-icon name="play-circle-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ng-container>

          <ng-container *ngIf="soundIsPlaying(sound.id)">
            <ion-button (click)="pauseSound(sound.id)" slot="end" fill="clear" class="ion-no-margin">
              <ion-icon name="pause-circle-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ng-container>

          <ion-button (click)="spamSound(sound.path)" slot="end" size="small" fill="clear" class="ion-no-margin">
            <ion-label style="margin-right: 4px;">Spam</ion-label>
            <ion-icon name="warning-sharp"></ion-icon>
          </ion-button>

          <ion-label>
            <h2>{{ sound.name }}</h2>
            <p>Durée: {{ this.stringFormatService.secondsToTime(sound.duration) }}</p>
          </ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-col>
  </ion-row>
</ion-grid>